@use "../../variables" as *;

.buy {
  background-color: $rose;
  display: flex;
  flex-direction: column;
  gap: 136px;
  .scrolling_text {
    display: flex;
    align-items: center;
    animation: marquee 10s linear infinite;
    .title {
      white-space: nowrap;
      display: inline;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      span {
        color: $black;
        padding: 0 40px;
        font-size: 344px;
        font-weight: 700;
        line-height: 283px;
        letter-spacing: -2.5px;
      }
    }

    .image {
      width: 283px;
      height: 283px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @keyframes marquee {
    0% {
      transform: translate(100%, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  .see_more {
    text-align: center;
    span {
      display: inline-block;
      padding: 0 1%;
      font-weight: 700;
      letter-spacing: -4px;
      font-size: 80px;
      line-height: 80px;
      color: $black;
      text-transform: uppercase;
      &:hover {
        color: $rose;
        background-color: $black;
      }
    }
  }
}
