@use "../../variables" as *;

.hero {
  height: 90vh;
  .mySwiper {
    .swiper_item {
      .image {
        width: 100vw;
        height: 90vh;
        img {
          width: 100%;
          height: 80%;
          object-fit: cover;
          position: relative;
        }
        .container {
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .content {
            margin: 40px 0;
            h2 {
              font-size: 80px;
              font-weight: 700;
              letter-spacing: -2px;
              line-height: 80px;
              color: $white;
            }
            a {
              .see_more {
                text-align: center;
                span {
                  display: inline-block;
                  padding: 0 1%;
                  font-weight: 700;
                  letter-spacing: -2px;
                  font-size: 80px;
                  line-height: 80px;
                  color: $white;
                  text-transform: uppercase;
                  &:hover {
                    color: $black;
                    background-color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
    .arrows {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 40px;
      svg {
        color: $white;
        &:hover {
          fill: $black;
          cursor: pointer;
        }
      }
    }
  }
}
