// Global styles
@use "./base";

// Components
@use "./components/header";
@use "./components/footer";
@use "./components/loader";
@use "./components/car-card";
@use "./components/shop-card";
@use "./components/custom-modal";


// Pages
@use "./pages/shop";
@use "./pages/shop-details";
@use "./pages/register";
@use "./pages/login";
@use "./pages/not-found";
@use "./pages/cart";

// Sections
@use "./pages/hero";
@use "./pages/our-cars";