// Global styles
@use "./base";

// Components
@use "./components/header";
@use "./components/header_shop";
@use "./components/footer";
@use "./components/footer_shop";
@use "./components/loader";
@use "./components/card_fresh";
@use "./components/card_spin";
@use "./components/card_skate";
@use "./components/card_fresh_shop";



// Pages
@use "./pages/shop";
@use "./pages/shop-details";
@use "./pages/register";
@use "./pages/login";
@use "./pages/not-found";
@use "./pages/cart";

// Sections - Home
@use "./pages/home/hero";
@use "./pages/home/shell-shock";
@use "./pages/home/fresh";
@use "./pages/home/spin";
@use "./pages/home/skate";
@use "./pages/home/buy";
@use "./pages/home/sign";

