@use "../variables" as *;

.card_box {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 0 12px;
  gap: 16px;
  overflow: hidden;
  cursor: pointer;
  .card_img {
    width: 250px;
    height: 250px;
    border: 1px solid $black;
    &:hover {
      scale: 1.05;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h3 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -3px;
    color: $black;
    line-height: 40px;
  }
  span {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Robot", sans-serif;
    color: $black;
  }
}
