@use "../variables" as *;

.card_skate {
  position: relative;
  width: 638px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  gap: 40px;
  overflow: hidden;
  cursor: pointer;
  &:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($yellow, 0.2);
    z-index: 1;
  }
  .card_img {
    width: 668px;
    height: 375px;
    border: 1px solid $black;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h3 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -2.5px;
    color: $black;
    line-height: 40px;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    font-family: "Robot", sans-serif;
    color: $white;
  }
}
