@use "../variables" as *;

.footer {
  padding: 24px 0;
  background-color: $black;
  .container {
    .row {
      justify-content: space-between;
      align-items: flex-end;
      .policy {
        display: flex;
        font-size: 16px;
        font-weight: 600;
        gap: 40px;
        text-transform: uppercase;
        li {
          a {
            color: $pink;
          }
        }
      }

      a {
        .logo {
          width: 210px;
          height: 64px;
          color: $pink;
        }
      }

      .social {
        display: flex;
        font-size: 16px;
        font-weight: 600;
        gap: 40px;
        text-transform: uppercase;
        li {
          a {
            color: $pink;
          }
        }
      }
    }
  }
}
