@use "../variables" as *;

.footer {
  padding: 32px 0;
  background-color: $black;
  .container {
    .row {
      flex-direction: column;
      align-items: center;

      .footer_wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 100%;
        .policy {
          min-width: 240px;
          width: 33.3%;
          display: flex;
          font-size: 16px;
          font-weight: 600;
          gap: 40px;
          text-transform: uppercase;
          li {
            a {
              color: $pink;
            }
          }
        }

        a {
          width: 33.3%;
          min-width: 240px;

          text-align: center;
          .logo {
            width: 210px;
            height: 64px;
            color: $pink;
          }
        }

        .social {
          width: 33.3%;
          min-width: 240px;

          display: flex;
          justify-content: flex-end;
          font-size: 16px;
          font-weight: 600;
          gap: 40px;
          text-transform: uppercase;
          li {
            a {
              color: $pink;
            }
          }
        }
      }
      .email {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 48px;
        input {
          width: 358px;
          height: 45px;
          padding: 15px 50px 15px 15px;
          border: 1px solid $pink;
          outline: none;
          background-color: transparent;
          color: $white;
          opacity: 0.8;
          &::placeholder {
            font-size: 16px;
            font-weight: 600;
            color: rgba($pink, 0.75);
          }
          &:hover,
          &:focus {
            opacity: 1;
          }
        }
      }
    }
  }
  .footer_bottom {
    border-top: 0.1px solid rgba($pink, 0.35);
    padding-top: 24px;
    display: flex;
    justify-content: center;
    span {
      font-size: 11px;
      color: $pink;
    }
  }
}
