@use "../variables" as *;

.header {
  width: 100%;
  padding: 17.5px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: $black;
  transition: background-color 0.3s ease-in-out;
  &-scrolled {
    background-color: $black;
  }
  .container {
    .row {
      justify-content: space-between;
      align-items: center;
      .logoWrapper {
        display: flex;
        gap: 40px;
        .logo {
          width: 20%;
          height: 35px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .navBar {
          .navList {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            .navItem {
              font-size: 34px;
              font-weight: 500;
              text-transform: uppercase;
              color: $white;
              margin: 0 10px;
              letter-spacing: -3px;
              margin: -10px 0;
              cursor: pointer;
              position: relative;
              .navLink {
                &:hover::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  height: 2.5px;
                  background-color: $white;
                }
                &.active::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  height: 2.5px;
                  background-color: $white;
                }
              }
            }
          }
        }
      }

      .sideContent {
        display: flex;
        justify-content: flex-end;
        gap: 24px;
        .search {
          width: 32px;
        }
      }
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 1;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    &.isOpen {
      visibility: visible;
      opacity: 1;
    }
  }
}
