@use "../variables" as *;

.shop {
  padding: 36px 0;
  background-color: $black;
  .container {
    .row {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding: 25px 0;
      .title {
        align-items: left;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -2px;
        color: $white;
        padding-top: 24px;
      }
      .box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }
}
